/* Styling for the Bar Graph */
.bar {
    fill: steelblue;
}

.axis {
    font: 13px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

form {
    display: inline
}

.r-input {
    padding: 3px;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.label {
    font-weight: bold;
}
/* Styling for the Odds Table */
table {
    width: 80%;
    margin: 5px;
    border: 1px solid black;
    font-size: 10pt;
    font-family: sans-serif;
}
thead {
    color: black;
    background-color: white;
    padding: 2px;
}
th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
.num {
    background-color: #f0f0f0;
}
.win {
    background-color: #bfffbf;
    color: #000000;
    padding-left: 2px;
    padding-right:2px
}
.lose {
    background-color: #ffbfbf;
    color: #000000;
    padding-left: 2px;
    padding-right:2px
}
